<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %c{1} %-1level  - %msg%n"/>
        </Console>

        <File name="File" filename="logs/text.log" bufferedIO="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%c{1}] %-5level %logger{1} - %msg%n" />
        </File>

    </Appenders>

    <Loggers>
        <Logger name= "Log_Console" level="debug" additivity="true">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name= "Log_File" level="trace" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>

        <Root level="all">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>